
\.vscode/

src/Generic\.Repository/obj/

src/Generic\.Repository/bin/

\.vs/

tools/

tests/Generic\.Repository\.UnitTest/obj/

tests/Generic\.Repository\.UnitTest/bin/

TestResults/

tests/Generic.Repository.Test/bin/

tests/Generic.Repository.Test/obj/
Generic.Repository.IntTest/bin
Generic.Repository.IntTest/obj
Generic.Repository.IntTest/obj
